{% extends 'base.html' %}

{% block title %}New Task{% endblock title %}

{% block content %}
<h1>New Task</h1>
<form  method="POST" action="{{ url_for('create_task') }}">
    <p>
        <label for="summary">Summary: </label>
        <input type="text" name="summary" id="id_summary">
    </p>
    <p>
        <label for="description">Description: </label>
        <input type="text" name="description" id="id_description">
    </p>
    <input type="hidden" value="1" name="status_id" id="id_status_id">
    <input type="hidden" value="1" name="active" id="id_active">
    <p>
        <input type="submit" value="Create" class="btn btn-success">
    </p>
</form>

{% endblock content %}