{% extends 'base.html' %}

{% block title %} POSTS {% endblock title %}

{% block content %}

<h1> Posts </h1>
    {% for post in post_list %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{post.subtitle}}</h6>
                <p class="card-text">{{post.body | truncatechars:250 }}</p>
                <a href="{% url 'detail' post.id %}" class="card-link">Read more...</a>
                <a href="{% url 'edit' post.id %}" class="card-link">Edit post</a>
                <a href="{% url 'delete' post.id %}" class="card-link">Delete</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}